<nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand h2">Ricerca</a>
</nav>
<br>
<form>
  <div class="form-row">
    <div class="col-md-9">
      <input type="text" class="form-control" [(ngModel)]="searchUser.text" name="text" placeholder="cerca nome, cognome o e-mail..."/>
    </div>
    <div class="col">
      <input type="reset" class="btn btn-danger w-100" [disabled]="submitted" (click)="cancel()" value="Annulla"/>
    </div>
    <div class="col">
      <input type="submit" class="btn btn-primary w-100" [disabled]="submitted" (click)="search()" value="Cerca"/>
    </div>
  </div>
  <br>
  <div id="accordion">
      <div class="card">
        <div class="card-header">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Opzioni Aggiuntive
            </button>
          </h5>
        </div>
        <div id="collapseOne" class="collapse multi-collapse" data-parent="#accordion">
          <div class="card-body">
              <div class="form-row">
                  <div class="col-auto">
                      <label class="col-form-label">Sesso</label>
                  </div>
                  <div class="col-auto">
                      <select class="form-control" [(ngModel)]="searchUser.sesso" name="sesso">
                          <option [ngValue]="sesso" *ngFor="let sesso of sexes">{{sesso}}</option>
                      </select>
                  </div>
                  <div class="col-auto">
                      <label class="col-form-label">Età da:</label>
                  </div>
                  <div class="col-auto" style="width: 70px">
                      <input type="number" class="form-control" [(ngModel)]="searchUser.etaDa" name="etaDa"/>
                  </div>
                  <div class="col-auto">
                      <label class="col-form-label">a:</label>
                  </div>
                  <div class="col-auto" style="width: 70px">
                      <input type="number" class="form-control" [(ngModel)]="searchUser.etaA" name="etaA"/>
                  </div>
                  <div class="col-auto">
                      <label class="col-form-label">Residenza</label>
                  </div>
                  <div class="col-auto">
                      <input type="text" class="form-control" [(ngModel)]="searchUser.residenzaComune" name="residenzaComune"/>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  <!-- <div class="form-row">
    <div class="col-auto">
      <label class="col-form-label">Nome</label>
    </div>
    <div class="col-auto">
      <input type="text" class="form-control" [(ngModel)]="searchUser.nome" name="nome"/>
    </div>
    <div class="col-auto">
        <label class="col-form-label">Sesso</label>
    </div>
    <div class="col-auto">
        <select class="form-control" [(ngModel)]="searchUser.sesso" name="sesso">
            <option [ngValue]="sesso" *ngFor="let sesso of sexes">{{sesso}}</option>
        </select>
    </div>
  </div>
  <div class="form-row"> 
    <div class="col-auto">
        <label class="col-form-label">Data di nascita</label>
    </div>
    <div class="col-auto">
        <input type="date" class="form-control" [(ngModel)]="searchUser.nascitaData" name="nascitaData"/>
    </div>
    <div class="col-auto">
        <label class="col-form-label">Età</label>
    </div>
    <div class="col-auto">
        <input type="number" class="form-control" [(ngModel)]="searchUser.eta" name="eta"/>
    </div>               
  </div> -->
  <!-- <div id="accordion">
    <div class="card">
      <div class="card-header">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Dati anagrafici
          </button>
        </h5>
      </div>
      <div id="collapseOne" class="collapse multi-collapse" data-parent="#accordion">
        <div class="card-body">
            
        </div>
      </div>
    </div>
  </div> -->
</form>

<div *ngIf="searchPushed">
  <nav class="navbar navbar-light bg-light justify-content-between">
      <a class="navbar-brand h2">Risultato della ricerca</a>
  </nav>
  <div>
      <ul *ngIf="users.length>0" class="list-group">
        <li *ngFor="let user of users" class="list-group-item">
          <div class="row">
            <div class="col-12">
              <a routerLink="/users/{{user.id}}">{{user.nome}} {{user.cognome}}</a>
            </div>
          </div>
        </li>
      </ul>
      <a *ngIf="!users.length" class="text-default">
          Nessun utente è stato trovato
      </a>
  </div>  
</div>